#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas: "head head head head head"
                       "nav  main main main nav"
                       "nav  nav main  nav nav"
                       "nav foot foot foot nav";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}
